config controller 'http'
{% for key, value in item.openwisp.items() %}
{% if value is not string and value is iterable %}
{% for list_value in value %}
	list {{ key }} '{{ list_value }}'
{% endfor %}
{% else %}
	option {{ key }} '{{ value }}'
{% endif %}
{% endfor %}
