# enable image builder
CONFIG_IB=y
CONFIG_IB_STANDALONE=y

# avoid broken feeds in /etc/opkg/distfeeds.conf
# CONFIG_FEED_openwisp is not set
# CONFIG_FEED_luciopenwisp is not set

# additional packages
{% for package in openwisp2fw_source_additional_packages %}
CONFIG_PACKAGE_{{ package }}=y
{% endfor %}

# openwisp2 related packages
{% for package in openwisp2fw_source_default_packages %}
CONFIG_PACKAGE_{{ package }}=y
{% endfor %}

# other configurations
{% for config in openwisp2fw_source_other_configs %}
{{ config }}
{% endfor %}

{% set openwisp_config_pkg = 'openwisp-config-{0}'.format(openwisp2fw_ssl_lib) %}
{% if openwisp_config_pkg in openwisp2fw_source_default_packages %}
# allow to build curl with different ssl library
CONFIG_LIBCURL_{{ openwisp2fw_ssl_lib|upper }}=y
{% endif %}
