#!/bin/bash
set -e
{% if item.subtarget is defined %}
    {% set partial = '{0}-{1}'.format(item['system'], item['subtarget']) %}
{% else %}
    {% set partial = item['system'] %}
{% endif %}
{% set filename = '{0}/{1}-{2}.gz'.format(openwisp2fw_generator_dir,
                                          item['system'],
                                          item.get('subtarget', 'generic'))
%}

find {{ openwisp2fw_source_dir }}/bin/ \
     -iname '*-imagebuilder-{{ partial }}*' \
     -exec cp {} {{ filename }} \;
